# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build output
dist/

# local .env files
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Editor directories and files
.idea/
.vscode/

# Logs
*.log
dump.rdb

.vercel
# Archivos de diagnóstico y temporales
checkDb.mjs
69124b2c877cf33c2ced16f8-Recibo.pdf
DMA-25-0072-HistorialDePagos-2.pdf